<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="bootstrap.min.css">
	<script src="jquery.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<script src="javascripts/jquery.paginate.js"></script>
	<script src="javascripts/main.js"></script>
  </head>
  <body>
  	<h1>Zendesk Ticket Viewer</h1>
    {{{body}}}
  </body>
</html>
