

<body>
	<h1>Zendesk Ticket Viewer</h1>
	{{#with (lookup tickets ticketId)}}
		<h2>{{subject}}</h2>
		<p>{{format description}}</p>
	{{/with}}

	<a href="/" class="btn btn-primary" role="button">Back to all tickets</a>


</body>
