
<body>
	<div class="container">
		{{#with (lookup tickets ticketId)}}
			<h2>{{subject}}</h2>
			<h5>Requester: {{lookup ../userList ../ticketId}}</h5>
			<p>{{format description}}</p>
		{{/with}}

		<a href="/" class="btn btn-primary" role="button">Back to all tickets</a>
	</div>

</body>
