body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
	text-align: center;
}


tbody {
	
	tr {
	cursor: pointer;

		span {
			border-radius: 1em;
			padding: .3em;
			color: white;
			display: inline-block;
	    	width: 2em;
	    	height: 2em;
	    	text-align: center;
		}

		.status-pending {
			background: #59BBE0;
		}

		.status-open {
			background: #E82A2A;
		}

		.status-solved {
			background: #10d633;
		}

		.status-closed {
			background: gray;
		}


		td:first-letter {
			text-transform: capitalize;
		}
	}

}


.container {
	p {
		margin: 3em 0;
	}
}


