body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

tr {
	cursor: pointer;

	&:first-child {
		cursor: default;
		
		&:hover {
			background: none;
		}
	}

	&:hover {
		background: #F3F3F3;
	}

	span {
		border-radius: 1em;
		padding: .3em;
		color: white;
		display: inline-block;
    	width: 2em;
    	height: 2em;
    	text-align: center;
	}

	.status-pending {
		background: #59BBE0;
	}

	.status-open {
		background: #E82A2A;
	}

	.status-solved {
		background: #10d633;
	}
}
